    <!-- Footer -->
    <footer class="footer">
        <div class="footer-container container">
            <div class="footer-brand">
                <a href="/" class="logo">
                    <img src="/images/appstore-removebg-preview.png" alt="Takkada Logo" class="logo-img" />
                    Takkada
                </a>
                <p>
                    Your finances, under control. Simplify business payments
                    with automated collection and reconciliation.
                </p>
                <p style="margin-top: 8px; font-size: 0.8rem">
                    admin@paysaathi.com
                </p>

                <!-- Startup India logo -->
                <img
                    src="/images/logo.png"
                    alt="Startup India Logo"
                    class="startup-india-logo"
                />
            </div>

            <div>
                <h3 class="footer-title">Main Pages</h3>
                <ul class="footer-links">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#how-it-works">How it Works</a></li>
                    <li><a href="#testimonials">Testimonials</a></li>
                </ul>
            </div>

            <div>
                <h3 class="footer-title">Resources</h3>
                <ul class="footer-links">
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="#faq">FAQ</a></li>
                    <li><a href="/contact-us/">Contact Us</a></li>
                    <li><a href="#">Pricing</a></li>
                </ul>
            </div>

            <div>
                <h3 class="footer-title">Company</h3>
                <ul class="footer-links">
                    <li>
                        <a href="/terms-and-conditions/">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="/privacy-policy/">Privacy Policy</a>
                    </li>
                    <li><a href="/refund-policy/">Refund Policy</a></li>
                </ul>
                <div class="social-links" style="margin-top: 16px">
                    <a href="https://www.linkedin.com/company/takkada/?viewAsMember=true"><i
                            class="ph-bold ph-linkedin-logo"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=61577621565711"><i
                            class="ph-bold ph-facebook-logo"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2024 Pay Saathi Innovations LLP. All rights reserved.</p>
        </div>
    </footer>