    <!-- Header -->
    <header class="header">
        <nav class="navbar container">
            <a href="/" class="logo">
                <img src="/images/appstore-removebg-preview.png" alt="Takkada Logo" class="logo-img" />
                Takkada
            </a>

            <div class="nav-menu">
                <ul class="nav-list">
                    <li>
                        <a href="#features" class="nav-link">Features</a>
                    </li>
                    <li>
                        <a href="#how-it-works" class="nav-link">How it works</a>
                    </li>
                    <li>
                        <a href="#testimonials" class="nav-link">Testimonials</a>
                    </li>
                    <li>
                        <a href="/contact-us/" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="nav-actions">
                <a href="https://calendar.notion.so/meet/ronakmalu/takkada" class="btn btn-primary btn-sm">Book a
                    Demo</a>
                <div class="nav-toggle">
                    <i class="ph ph-list"></i>
                </div>
            </div>
        </nav>
    </header>